*{
margin: 0;
padding: 0;
}

.linkmon{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}
.linkmon{
    width: 40%;
}
.linkmon{
display: inline-block;
}